<nav id="menu">
	<h2>Menu</h2>
	<ul>
		<li><a href="{{ site.homeurl }}about">About</a></li>
		<li><a href="{{ site.homeurl }}">Projects</a></li>
		<li><a class="sublist" href="{{ site.homeurl }}project1">Project1</a></li>
		<li><a class="sublist" href="{{ site.homeurl }}project2">Project2</a></li>
		<li><a class="sublist" href="{{ site.homeurl }}project3">Project3</a></li>
		<li><a class="sublist" href="{{ site.homeurl }}project4">Project4</a></li>
		<li><a class="sublist" href="{{ site.homeurl }}project5">Project5</a></li>
		<li><a class="sublist" href="{{ site.homeurl }}project6">Project6</a></li>
		<li><a class="sublist" href="{{ site.homeurl }}project7">Project7</a></li>
		<li><a class="sublist" href="{{ site.homeurl }}project8">Project8</a></li>
		<li><a class="sublist" href="{{ site.homeurl }}project9">Project9</a></li>
		<li><a class="sublist" href="{{ site.homeurl }}project10">Project10</a></li>
		<li><a class="sublist" href="{{ site.homeurl }}project11">Project11</a></li>
		<li><a class="sublist" href="{{ site.homeurl }}project12">Project12</a></li>
		<li><a class="sublist" href="{{ site.homeurl }}project13">Project13</a></li>
		<li><a class="sublist" href="{{ site.homeurl }}project14">Project14</a></li>
		<li><a class="sublist" href="{{ site.homeurl }}project15">Project15</a></li>
		<li><a class="sublist" href="{{ site.homeurl }}project16">Project16</a></li>
		<li><a href="{{ site.homeurl }}reports">Reports</a></li>
	</ul>
</nav>